:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-wight-color: #ffffff;
  --primary-black-color: #000000;
  --primary-bgc: #f5f4fa;
  --primary-icon-color: #afb1b8;
  --primary-icon-bgcolor: #2f303a;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-wight-color);
  color: var(--primary-text-color);
}

/* <<<<<<<<<<<<  COMPONENTS  >>>>>>>>>>>> */
h1,
h2,
h3,
p,
b {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-link.active-link {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  display: block;
}

.transition {
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* <<<<<<<<<<<<  end COMPONENTS  >>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<< STUDIO  >>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<  HEADER  >>>>>>>>>>>> */
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-word {
  font-size: 26px;
  line-height: 1.192;
  color: var(--accent-color);
}

.header-flex {
  display: flex;
}

.header-flex > a {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}

.nav-list a {
  color: var(--primary-text-color);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-list li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.address-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-list li:not(:last-child) {
  margin-right: 50px;
}

.header a {
  display: flex;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.address-link:active,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  border-bottom: 1px solid #ececec;
}
/* <<<<<<<<<<<<  end HEADER  >>>>>>>>>>>> */

/* <<<<<<<<<<<< HERO  >>>>>>>>>>>> */
.hero-section {
  background-color: var(--primary-icon-bgcolor);
  text-align: center;
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero_original.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-wight-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero-button {
  color: var(--primary-wight-color);
  background: var(--accent-color);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background: var(--primary-wight-color);
  color: #000000;
}
/* <<<<<<<<<<<< end HERO  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  OUR PRIORITY  >>>>>>>>>>>> */
.priority-box {
  padding: 94px 0;
}

.priority-list {
  display: flex;
  justify-content: center;
}

.priority-list li {
  width: 270px;
}

.priority-list li + li {
  margin-left: 30px;
}

.priority-list li::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--primary-bgc);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.antenna-item::before {
  background-image: url(../img/icons/SVG/antenna.svg);
}

.clock-item::before {
  background-image: url(../img/icons/SVG/clock.svg);
}

.diagram-item::before {
  background-image: url(../img/icons/SVG/diagram.svg);
}

.astronaut-item::before {
  background-image: url(../img/icons/SVG/astronaut.svg);
}

.priority-subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.priority-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* <<<<<<<<<<<<  end OUR PRIORITY  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  WHAT A WE DOING  >>>>>>>>>>>> */
.work-box {
  padding-bottom: 94px;
}

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  text-align: center;
}

.work-list {
  display: flex;
}

.work-list li + li {
  margin-left: 30px;
}
/* <<<<<<<<<<<<  end WHAT A WE DOING  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  OUR TEAM  >>>>>>>>>>>> */
.team-box {
  padding: 94px 0;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-list li + li {
  margin-left: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card {
  text-align: center;
  padding: 30px 32px;
}

.team-socium ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-socium li {
  margin: 0;
  width: 44px;
  height: 44px;
  margin-top: 16px;
}

.team-socium li + li {
  margin-left: 10px;
}

.team-socium a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-icon-color);
}

.team-socium a:hover,
.team-socium a:focus {
  background-color: var(--accent-color);
  fill: var(--primary-wight-color);
}
/* <<<<<<<<<<<<  end OUR TEAM  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  CLIENTS  >>>>>>>>>>>> */
.client-box {
  padding: 94px 0;
}

.client-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-list li {
  width: 170px;
  height: 90px;
}

.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.client-icon {
  fill: var(--primary-icon-color);
}

.client-link:focus,
.client-link:hover {
  border: 1px solid var(--accent-color);
}

.client-link:hover > svg,
.client-link:focus > svg {
  fill: var(--accent-color);
}
/* <<<<<<<<<<<<  end CLIENTS  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  FOOTER  >>>>>>>>>>>> */
.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--primary-wight-color);
  margin-bottom: 20px;
}

.footer-section {
  background-color: var(--primary-icon-bgcolor);
  padding: 60px 0;
}

.footer-link-map {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-wight-color);
  margin-bottom: 9px;
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.mail {
  margin-bottom: 9px;
}
.footer-socium {
  margin-left: 70px;
}

.footer-socium b {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-wight-color);
}

.footer-socium ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socium li {
  margin: 0;
  width: 44px;
  height: 44px;
}

.footer-socium li + li {
  margin-left: 10px;
}

.footer-socium a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-wight-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-socium a:hover,
.footer-socium a:focus {
  background-color: var(--accent-color);
  fill: var(--primary-wight-color);
}
/* <<<<<<<<<<<<  end FOOTER  >>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<< end STUDIO  >>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<<  PORTFOLIO  >>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<  MAIN  >>>>>>>>>>>> */
.portfolio-box {
  padding: 94px 0;
}

.btm-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.btm-list li + li {
  margin-left: 8px;
}

.btm-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: none;
}

.btm-link:focus,
.btm-link:active,
.btm-link:hover {
  background: var(--accent-color);
  color: var(--primary-wight-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-list .text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list a:hover,
.portfolio-list a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
  border: 1px solid #eeeeee;
}

.portfolio-list li:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.portfolio-list li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-card {
  padding: 20px 24px;
}
/* <<<<<<<<<<<<  end MAIN  >>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<  end PORTFOLIO  >>>>>>>>>>>>>>>>>>>>>>>> */
