:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-wight-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-wight-color);
  color: var(--primary-text-color);
}

/* <<<<<<<<<<<<  COMPONENTS  >>>>>>>>>>>> */
h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-link.active-link {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}
/* <<<<<<<<<<<<  end COMPONENTS  >>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<< STUDIO  >>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<  HEADER  >>>>>>>>>>>> */
.header-box {
  /* display: inline-block; */
  /* align-items: center; */
  border-bottom: 1px solid #ececec;
}

.nav-list a {
  color: var(--primary-text-color);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}

.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.address-link:active,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* <<<<<<<<<<<<  end HEADER  >>>>>>>>>>>> */

/* <<<<<<<<<<<< HERO  >>>>>>>>>>>> */
.hero-section {
  background-color: #2f303a;
  text-align: center;
}

.hero-box {
  padding: 200px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-wight-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero-button {
  color: var(--primary-wight-color);
  background: var(--accent-color);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background: #000000;
}
/* <<<<<<<<<<<< end HERO  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  OUR PRIORITY  >>>>>>>>>>>> */
.priority-box {
  padding: 94px 0;
}

.priority-subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.priority-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* <<<<<<<<<<<<  end OUR PRIORITY  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  WHAT A WE DOING  >>>>>>>>>>>> */
.work-box {
  padding-bottom: 94px;
}

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* <<<<<<<<<<<<  end WHAT A WE DOING  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  OUR TEAM  >>>>>>>>>>>> */
.team-box {
  padding: 94px 0;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  text-align: center;
}

.team-img {
  margin-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* <<<<<<<<<<<<  end OUR TEAM  >>>>>>>>>>>> */

/* <<<<<<<<<<<<  FOOTER  >>>>>>>>>>>> */
.footer-section {
  background-color: #2f303a;
}

.footer-box {
  padding: 60px 0;
}

.footer-box img {
  margin-bottom: 20px;
}

.footer-link-map {
  display: inline-block
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-wight-color);
  margin-bottom: 9px;
}

.footer-link {
  display: inline-block
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail {
  margin-bottom: 9px;
}

/* <<<<<<<<<<<<  end FOOTER  >>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<< end STUDIO  >>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<<<<<<<<<  PORTFOLIO  >>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<  MAIN  >>>>>>>>>>>> */
.portfolio-box {
  padding: 94px 0;
}

.portfolio-list > img {
  margin-bottom: 20px;
}

.btm-list {
  margin-bottom: 50px;
}

.btm-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.btm-link:focus,
.btm-link:active,
.btm-link:hover {
  background: var(--accent-color);
  color: var(--primary-wight-color);
}

.work-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-list .text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* <<<<<<<<<<<<  end MAIN  >>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<  end PORTFOLIO  >>>>>>>>>>>>>>>>>>>>>>>> */
