.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-word {
  font-size: 26px;
  line-height: 1.192;
  color: var(--accent-color);
}

.header-flex {
  display: flex;

  & > a {
    margin-right: 93px;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
  }
}

.nav-list {
  display: flex;

  & a {
    color: var(--primary-text-color);
  }

  & li:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);

  &::after {
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    background-color: var(--accent-color);

    /* opacity: 0; */
    transform: scale(0);
    transition: transform 250ms var(--transition);
  }

  &:focus::after,
  &:hover::after {
    /* opacity: 1; */
    transform: scale(1);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-list {
  display: flex;

  & li:not(:last-child) {
    margin-right: 50px;
  }
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  border-bottom: 1px solid #ececec;

  & a {
    display: flex;
  }
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);

  &:active,
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-icon {
  margin-right: 10px;
  fill: currentColor;
}
