.hero-section {
  position: relative;
  background-color: var(--primary-icon-background-color);
  text-align: center;
  height: 400px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;

  & div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--transition);
  }

  &:hover div {
    transform: translate(-50%, -50%) scale(1);
  }
}

.hero-title {
  @include font(26px, 900, 42px);
  text-transform: uppercase;
  color: $primary-wight-color;
  max-width: 360px;
  margin: 0 auto 30px;
}

// @media screen and (min-width: 768px) {
// }

@media screen and (min-width: 1200px) {
  .hero-title {
    @include font(44px, 900, 60px);
    max-width: 696px;
  }

  .hero-section {
    height: 600px;
  }
}
