.portfolio-box {
  padding: 60px 0;
}

.btm-list {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  & li + li {
    margin-left: 8px;
  }
}

.btm-link {
  @include font(16px, 500, 26px);
  letter-spacing: 0.03em;
  color: $primary-text-color;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  transition-property: color, background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $transition;

  &:focus,
  &:active,
  &:hover {
    background: $accent-color;
    color: $primary-wight-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  & li {
    margin: 15px;
  }

  & a {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $transition;
  }

  & a:hover,
  & a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-card {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: $transition;

  & p {
    @include font(18px, 400, 28px);
    letter-spacing: 0.03em;
    color: $primary-wight-color;
  }

  .portfolio-link:focus &,
  .portfolio-link:hover & {
    transform: translateY(0);
  }
}

.work-subtitle {
  @include font(18px, 700, 36px);
  letter-spacing: 0.06em;
  color: $primary-text-color;
  margin-bottom: 4px;
}

.text {
  @include font(16px, 400, 30px);
  letter-spacing: 0.03em;
  color: $title-text-color;
}

@media screen and (max-width: 767px) {
  .btm-list li:nth-child(-n + 3) {
    margin-bottom: 15px;
  }

  .portfolio-overlay-box img {
    max-width: 450px;
  }

  .portfolio-link {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .btm-list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-box {
    padding: 94px 0;
  }

  .btm-list {
    margin-bottom: 50px;
  }

  // .portfolio-list li:not(:nth-child(3n + 3)) {
  //   margin-right: 30px;
  // }

  // .portfolio-list li:not(:nth-last-child(-n + 3)) {
  //   margin-bottom: 30px;
  // }
}
