.button {
  color: $primary-wight-color;
  background: $accent-color;
  border-radius: 4px;
  @include font(16px, 700, 30px);
  letter-spacing: 0.06em;
  padding: 10px auto;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: $transition;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-background-btm-color;
    outline: none;
  }
}
