.first-word {
  color: $accent-color;
  font-family: $title-font;
}

.header-logo {
  font-family: $title-font;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.footer-logo {
  font-family: $title-font;
  letter-spacing: 0.03em;
  color: $primary-wight-color;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .header-logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .first-word {
    @include font(24px, 700, 28px);
  }

  .header-logo {
    @include font(24px, 700, 28px);
    color: $primary-text-color;
  }

  .footer-logo {
    @include font(24px, 700, 28px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-logo {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    @include font(26px, 700, 31px);
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }

  .footer-logo {
    @include font(26px, 700, 31px);
  }
}
