:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-wight-color: #ffffff;
  --primary-black-color: #000000;
  --primary-bgc: #f5f4fa;
  --primary-icon-color: #afb1b8;
  --primary-icon-background-color: #2f303a;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-background-btm-color: #188ce8;
}
